<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="azure:StorageAccountName" value="medya" />
    <add key="azure:StorageAccountAccessKey" value="mmocQhPq39sPtgYSsK3BE9GpznJ//cZsSl71mCHBctAYKnjagllEcUbj+yMmIyVNSkEvvsCmK2gQT+1JGOdpHw==" />
    <add key="azure:SubscriptionKey" value="4a9c451dc72e42efbd7d8a971b6aeab3" />
  </appSettings>
  <system.net>
    <defaultProxy enabled="true">
      <proxy proxyaddress="http://iproxy.innova.com.tr:8080" />
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>