<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="azure:StorageAccountName" value="" />
    <add key="azure:StorageAccountAccessKey" value="" />
    <add key="azure:SubscriptionKey" value="" />
  </appSettings>
  <system.net>
    <defaultProxy enabled="false">
      <proxy proxyaddress="" />
    </defaultProxy>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
