<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="azure:StorageAccountName" value="medya"/>
    <add key="azure:StorageAccountAccessKey" value="mmocQhPq39sPtgYSsK3BE9GpznJ//cZsSl71mCHBctAYKnjagllEcUbj+yMmIyVNSkEvvsCmK2gQT+1JGOdpHw=="/>
  </appSettings>
</configuration>